.post-list {
  display: flex;
  width: 100%;
}

.post-item {
  min-height: 300px;
  aspect-ratio: 1;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    transform: translateY(-10px);
  }
}

.post-thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cfcfcf;
  height: 40%;
  font-weight: bold;
}

.post-title {
  padding: 3px 10px;
  font-weight: bold;
}

.post-content {
  padding: 10px;
  height: 38%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-info-box {
  flex-grow: 1;
  display: flex;
  padding: 5px 10px;
  gap: 5px;
  align-items: center;
}

.profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #cfcfcf;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}
